/* CSS LAYOUT */
/* **************************************************************** */

/* VARIABLES */
:root{
    /* Ancho de Escritorio 2022 */
    --anchoPantalla: 1366px;
}



/* HEADER */

/* NAV */

/* Fondo */
.contenedor{
    height: 100vh;
    padding-top: 5%;
    /* Centrar Main y Footer */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* calculo de la mitad del tamaño de pantalla */
main, footer{
    width: calc(var(--anchoPantalla) / 2);
}
/* ******* */

/* Contenido */
main{
    border-radius: 20px;
    height: 90%;
}

/* Zona Banner */
.banner, .texto, .contacto{
    padding: 5%;
}


/* Copyright y dirección */
footer{
    height: 5%;
    /* Espacio de los laterales */
    padding: 2% 10%;
    text-align: center;
}

/* SECTION */
.banner{}
.texto{}
.contacto{}

/* ASIDE */

/* ARTICLE */

/* FIGURE */

/* FOOTER */

